<p class="cabecera">editcantidaddespacho works!</p>
<div style="padding: 32px">

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>

      <!-- Comment Column -->
      <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef> Comment </mat-header-cell>
        
        <mat-cell *matCellDef="let element" [satPopoverAnchor]="p" (click)="p.open()">
        
          <ng-container *ngIf="element.comment">
            {{element.comment}}
          </ng-container>
          <span class="add-comment" *ngIf="!element.comment">
            Add a comment
          </span>

          
              
          <sat-popover #p
              backdropClass="app-fancy-backdrop"
              openTransition="250ms ease-out"
              closeTransition="100ms ease-in"
              xAlign="start"
              yAlign="start"
              (closed)="update(element, $event)">
            
            <app-editcantidaddespachohelp [value]="element.comment"></app-editcantidaddespachohelp>
          </sat-popover>

          


        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

</div>


<!--
<app-previewdespacho></app-previewdespacho>
-->
